h1,
p {
  font-family: Lato;
}
.food-list,
.cart {
  border: solid 1px;
  background-color: #eeeeee;
  padding: 10px;
  margin: 10px;
}

.menu {
  background-color: red;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 5px;
}

a {
  text-decoration: none;
  color: #fff;
}
a:hover {
  color: #eee;
}
.notification {
  width: 100%;
  position: absolute;
  bottom: 0;
}
.notification.success {
  background-color: rgb(179, 241, 179);
}
.notification.error {
  background-color: rgb(241, 179, 179);
}
.notification.pending {
  background-color: rgb(179, 180, 241);
}
